body{
	font-size: 0pt;
	background-image: url("../media/gitBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:80%;
	margin:auto;
}
div{
	display: inline-block;
	font-size: 16pt;
	overflow: auto;
	text-align:center;
}
#Header{
	position: relative;
	left: 80px;
	overflow: hidden;
	font-size:14pt;
	width: 80%;
	height: 80px;
	background-color:blue;
	border: black solid 5px;
	text-align: center;
	margin: 15px 30px 30px 30px;
	padding: 0 0 0 0;
}
.NavBar{
	position: fixed;
	display:block;
	font-size:14pt;
	width:15%;
	height:40%;
	background-color: green;
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	right: 20px;
	top: 260px;
	box-shadow: 10px 8px 7px black;
}
#Step1Content{
	display: block;
	position: relative;
	left: 130px;
	width: 70%;
	background-color: red;
	margin: 20px 20px 20px 20px;
	padding: 15px 15px 15px 15px;
	box-shadow: 10px 10px 6px black;
	font-size:14pt;
	overflow:hidden;
}
#Step2Content{
	width: 70%;
	position: relative;
	left: 130px;
	background-color: yellow;
	margin: 20px 20px 20px 20px;
	padding: 15px 15px 15px 15px;
	box-shadow: 10px 10px 6px black;
	font-size:14pt;
	overflow: hidden;
}
#Step3Content{
	display: block;
	position: relative;
	left: 130px;
	width: 70%;
	background-color: LightGray;
	margin: 20px 20px 20px 20px;
	padding: 15px 15px 15px 15px;
	box-shadow: 10px 10px 6px black;
	font-size:14pt;
	overflow: hidden;
}
.foot{
	position: relative;
	left: 80px;
	width: 80%;
	height:60px;
	margin: 15px 30px 30px 30px;
	border: black solid 5px;
	text-align: center;
	background-color: blue;
	overflow: hidden;
}

#Step1Content p, h1, img{
	margin: auto;
}
#Step1Content p{
	width: 90%;
	
}
#Step1Content ul{
	position: relative;
	left: 180px;
}

#Step1Content img{
	height: 300px;
}

#Step1Content li{
	text-align: left;
}

#Step2Content p, h1, img{
	margin: auto;
}
#Step2Content p{
	width: 90%;
}
#Step2Content img{
	position: relative;
	height:300px;
}
#Step3Content p, h1, img{
	margin: auto;
}
#Step3Content p{
	width: 90%;
}
#Step3Content img{
	position:relative;
	height:275px;
}

/* Media Queries */
@media screen and (max-width:480px){
	body
	{
		width: 100%;
		margin: none;
	}
	
	#Header, #Step1Content, #step2Content, #Step3Content, .foot{
		left:0px;
	}
	
	.NavBar{
		position:relative;
		right:90px;
		top:0px;
	}
	
	#Step1Content{
		width:85%;
		left: 0px;
	}
	
	#Step2Content{
		width:85%;
		left: 0px;
	}
	
	#Step3Content{
		width:85%;
		left: 0px;
	}
	
	
}
